/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "./reset.scss"; //Reset CSS
@import "./variables.scss"; //Variables

@import url('https://fonts.googleapis.com/css?family=Roboto');


/*--------------------------------------------------------------
# Legacy css use %class_name {]
--------------------------------------------------------------*/
%bold_text {
    font-weight: 900;
    font-size: 1.4rem;
}

%font_style {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    user-select: none;
    /* Likely future */
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    font-family: $font-family;
    margin: 0;
    overflow-x: hidden;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: $red;
    }
}

@for $i from 0 to 10 {
    .p-#{$i}rem {
        padding: #{$i}rem;
    }

    .mt-#{$i}rem {
        margin-top: #{$i}rem;
    }

    .ml-#{$i}rem {
        margin-left: #{$i}rem;
    }
}

.black {
    color: $black;
}

.red {
    color: $red;
}

.debug {
    border: 1px solid red;
}