//--------------------------------------------------------------
// # Variables / https://www.figma.com/file/BMomGVZqLZb811mDMShpLu/UI-design-Sportify-FR?node-id=1%3A2
//--------------------------------------------------------------
$black: #020203;
$red: #E60000;

$font-family: 'Roboto';